
@{
    ViewBag.Title = "Confirm Email Address Sent";
}

<h2>ViewBag.Title</h2>
<div class="row">
    <div class="col-md-8">
        Please check your Email, A confirm email is sent to @ViewBag.Email
    </div>
</div>

