@{
    ViewBag.Title = "About";
}
<h2 class="jumbotron text-center">About Our Site</h2>

<div class="jumbotron">
    <img src="~/Photos/Logo.jpg" width="700" height="350" />
</div>


<div class="jumbotron">
    <h2>Trusted Shopping</h2>
    <p>
        OnlineMobile.com.bd is one of the largest mobile phone information based web portal in Bangladesh.
        Here you will know Nokia/Microsoft mobile price in Bangladesh. Samsung mobile price in Bangladesh.
        Symphony smartphone price in Bangladesh. Walton Smartphone price in Bangladesh
    </p>
</div>

